<div class="page-head">
  <div class="container">
    <div class="row">
      <div class="page-head-content">
        <h1 class="page-title">List Layout With Sidebar</h1>
      </div>
    </div>
  </div>
</div>
<!-- End page header -->

<!-- property area -->
<div class="properties-area recent-property" style="background-color: #FFF;">
  <div class="container">
    <div class="row">
      <div class="col-md-9 padding-top-40 properties-page">
        <div class="section clear">
          <div class="col-xs-10 page-subheader sorting pl0">
            <ul class="sort-by-list">
              <li class="active">
                <a href="javascript:void(0);" class="order_by_date" data-orderby="property_date"
                   data-order="ASC">
                  Property Date <i class="fa fa-sort-amount-asc"></i>
                </a>
              </li>
              <li class="">
                <a href="javascript:void(0);" class="order_by_price" data-orderby="property_price"
                   data-order="DESC">
                  Property Price <i class="fa fa-sort-numeric-desc"></i>
                </a>
              </li>
            </ul><!--/ .sort-by-list-->
            <div class="items-per-page">
              <label for="items_per_page"><b>Property per page :</b></label>
              <div class="sel">
                <select id="items_per_page" name="per_page">
                  <option value="3">3</option>
                  <option value="6">6</option>
                  <option value="9">9</option>
                  <option selected="selected" value="12">12</option>
                  <option value="15">15</option>
                  <option value="30">30</option>
                  <option value="45">45</option>
                  <option value="60">60</option>
                </select>
              </div><!--/ .sel-->
            </div><!--/ .items-per-page-->
          </div>

          <div class="col-xs-2 layout-switcher">
            <a class="layout-list" href="javascript:void(0);"> <i class="fa fa-th-list"></i> </a>
            <a class="layout-grid active" href="javascript:void(0);"> <i class="fa fa-th"></i> </a>
          </div><!--/ .layout-switcher-->
        </div>
        <ngb-pagination [collectionSize]="100" [maxSize]="5" [pageSize]="12"
                        [(page)]="page" aria-label="Custom pagination">
          <ng-template ngbPaginationPrevious>Prev</ng-template>
          <ng-template ngbPaginationNext>Next</ng-template>
        </ngb-pagination>
        <div class="section clear">
          <div id="list-type" class="proerty-th">
            <div class="col-sm-6 col-md-4 p0" *ngFor="let product of products | slice: (page-1) * 12:
                     (page-1) * 12 + 12">
              <div class="box-two proerty-item">
                <div class="item-thumb">
                  <a routerLink="/properties/property">
                    <img src="{{product.logo}}">
                  </a>
                </div>

                <div class="item-entry overflow">
                  <h5><a routerLink="/properties/property"> {{product.tenDoiTac}} </a></h5>
                  <div class="dot-hr"></div>
                  <span class="pull-left"><b> Area :</b> {{product.sdt}}  m2 </span>
                  <span class="proerty-price pull-right"> $ {{product.sdt}}</span>
                  <p style="display: none;">{{product.moTa}}</p>
                  <div class="property-icon">
                    <img src="assets/img/icon/bed.png">{{product.linhVuc}}|
                    <img src="assets/img/icon/shawer.png">{{product.linhVuc}}|
                    <img src="assets/img/icon/cars.png">{{product.linhVuc}}
                  </div>
                </div>
              </div>
            </div>

          </div>
        </div>
        <ngb-pagination [collectionSize]="100" [maxSize]="5" [pageSize]="12"
                        [(page)]="page" aria-label="Custom pagination">
          <ng-template ngbPaginationPrevious>Prev</ng-template>
          <ng-template ngbPaginationNext>Next</ng-template>
        </ngb-pagination>

      </div>
      <div class="col-md-3 pl0 padding-top-40">
        <div class="blog-asside-right pl0">
          <div class="panel panel-default sidebar-menu wow fadeInRight animated">
            <div class="panel-heading">
              <h3 class="panel-title">Smart search</h3>
            </div>
            <div class="panel-body search-widget">
              <form action="" class=" form-inline">
                <fieldset>
                  <div class="row">
                    <div class="col-xs-12">
                      <input type="text" class="form-control" placeholder="Key word" name="term" [ngModel]="term"
                             (ngModelChange)="valuechange($event)">
                    </div>
                  </div>
                </fieldset>

                <fieldset>
                  <div class="row">
                    <div class="col-xs-6">
                      <select id="lunchBegins" class="selectpicker" data-live-search="true"
                              data-live-search-style="begins" title="Select Your City">
                        <option *ngFor="let item of partners">{{item.diaChi}}</option>
                        <option *ngIf="partners">{{partners[0].diaChi}}</option>
                      </select>
                    </div>
                    <div class="col-xs-6">
                      <select id="basic" class="selectpicker show-tick form-control">
                        <option> -Status-</option>
                        <option>Rent</option>
                        <option>Boy</option>
                        <option>used</option>
                      </select>
                    </div>
                  </div>
                </fieldset>

                <fieldset class="padding-5">
                  <div class="row">
                    <div class="col-xs-6">
                      <label>Giá tiền (vnđ) :</label>
                      <ng5-slider [(value)]="valuePrice" [(highValue)]="higValuePrice"
                                  [options]="optionsPrice"></ng5-slider>
                    </div>
                    <div class="col-xs-6">
                      <label>Diện tích (m2) :</label>
                      <ng5-slider [(value)]="valueArea" [(highValue)]="higValueArea"
                                  [options]="optionsArea"></ng5-slider>
                    </div>
                  </div>
                </fieldset>

                <fieldset class="padding-5">
                  <div class="row">
                    <div class="col-xs-6">
                      <div class="checkbox">
                        <label> <input type="checkbox" checked> Fire Place</label>
                      </div>
                    </div>

                    <div class="col-xs-6">
                      <div class="checkbox">
                        <label> <input type="checkbox"> Dual Sinks</label>
                      </div>
                    </div>
                  </div>
                </fieldset>

                <fieldset class="padding-5">
                  <div class="row">
                    <div class="col-xs-6">
                      <div class="checkbox">
                        <label> <input type="checkbox" checked> Swimming Pool</label>
                      </div>
                    </div>
                    <div class="col-xs-6">
                      <div class="checkbox">
                        <label> <input type="checkbox" checked> 2 Stories </label>
                      </div>
                    </div>
                  </div>
                </fieldset>

                <fieldset class="padding-5">
                  <div class="row">
                    <div class="col-xs-6">
                      <div class="checkbox">
                        <label><input type="checkbox"> Laundry Room </label>
                      </div>
                    </div>
                    <div class="col-xs-6">
                      <div class="checkbox">
                        <label> <input type="checkbox"> Emergency Exit</label>
                      </div>
                    </div>
                  </div>
                </fieldset>

                <fieldset class="padding-5">
                  <div class="row">
                    <div class="col-xs-6">
                      <div class="checkbox">
                        <label> <input type="checkbox" checked> Jog Path </label>
                      </div>
                    </div>
                    <div class="col-xs-6">
                      <div class="checkbox">
                        <label> <input type="checkbox"> 26' Ceilings </label>
                      </div>
                    </div>
                  </div>
                </fieldset>

                <fieldset class="padding-5">
                  <div class="row">
                    <div class="col-xs-12">
                      <div class="checkbox">
                        <label> <input type="checkbox"> Hurricane Shutters </label>
                      </div>
                    </div>
                  </div>
                </fieldset>

                <fieldset>
                  <div class="row">
                    <div class="col-xs-12">
                      <input class="button btn largesearch-btn" value="Search" type="submit">
                    </div>
                  </div>
                </fieldset>
              </form>
            </div>
          </div>

          <div class="panel panel-default sidebar-menu wow fadeInRight animated">
            <div class="panel-heading">
              <h3 class="panel-title">Recommended</h3>
            </div>
            <div class="panel-body recent-property-widget">
              <ul>
                <li>
                  <div class="col-md-3 col-sm-3 col-xs-3 blg-thumb p0">
                    <a href="single.html"><img src="assets/img/demo/small-property-2.jpg"></a>
                    <span class="property-seeker">
                                                    <b class="b-1">A</b>
                                                    <b class="b-2">S</b>
                                                </span>
                  </div>
                  <div class="col-md-8 col-sm-8 col-xs-8 blg-entry">
                    <h6><a href="single.html">Super nice villa </a></h6>
                    <span class="property-price">3000000$</span>
                  </div>
                </li>
                <li>
                  <div class="col-md-3 col-sm-3  col-xs-3 blg-thumb p0">
                    <a href="single.html"><img src="assets/img/demo/small-property-1.jpg"></a>
                    <span class="property-seeker">
                                                    <b class="b-1">A</b>
                                                    <b class="b-2">S</b>
                                                </span>
                  </div>
                  <div class="col-md-8 col-sm-8 col-xs-8 blg-entry">
                    <h6><a href="single.html">Super nice villa </a></h6>
                    <span class="property-price">3000000$</span>
                  </div>
                </li>
                <li>
                  <div class="col-md-3 col-sm-3 col-xs-3 blg-thumb p0">
                    <a href="single.html"><img src="assets/img/demo/small-property-3.jpg"></a>
                    <span class="property-seeker">
                                                    <b class="b-1">A</b>
                                                    <b class="b-2">S</b>
                                                </span>
                  </div>
                  <div class="col-md-8 col-sm-8 col-xs-8 blg-entry">
                    <h6><a href="single.html">Super nice villa </a></h6>
                    <span class="property-price">3000000$</span>
                  </div>
                </li>

                <li>
                  <div class="col-md-3 col-sm-3 col-xs-3 blg-thumb p0">
                    <a href="single.html"><img src="assets/img/demo/small-property-2.jpg"></a>
                    <span class="property-seeker">
                                                    <b class="b-1">A</b>
                                                    <b class="b-2">S</b>
                                                </span>
                  </div>
                  <div class="col-md-8 col-sm-8 col-xs-8 blg-entry">
                    <h6><a href="single.html">Super nice villa </a></h6>
                    <span class="property-price">3000000$</span>
                  </div>
                </li>

              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
